body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

h1 {
  margin: 0;
  padding: 0;
  /* text-align: center; - for later when the map is implemented */
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

#generate-threats {
  width: fit-content;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  text-align: center;
  border: 2px transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: #474747;
  color: white;
}

#generate-threats:hover {
  background-color: #868585;
  color: white;
}

#start-radar {
  width: fit-content;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  text-align: center;
  border: 2px transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: black;
  color: white;
}

#start-radar:hover {
  background-color: #5d5d5a;
}

#stop-radar {
  width: fit-content;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  text-align: center;
  border: 1px transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ded8d8;
  color: black;
}

#stop-radar:hover {
  background-color: #e4e1e1;
}
